body{
    margin: auto;
    text-align: center;
}
main{
    height: 500px;
    display: grid;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons-container{
    position: absolute;
    background: fixed;
    top: 50%;
    left: 50%;

    
}

/*
    main img
{
    width: 200px ;
    height: 200px ;
    animation-name: rotate ;
    animation-duration: 3s ;
    animation-iteration-count: infinite ;
    animation-timing-function: linear ; 
}
*/

img{
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;

  
}
    
.background{
    background-color: rgb(64, 182, 64);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    border-radius: 50%;
    height: 200px;
    padding: 20px;
}
    



.phone {

    width: 200px;
    height: 200px;
    animation-name: phone;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

@keyframes phone{

    0%{ transform: rotate(-60deg);opacity: 1; display: block; }

    10%{ transform: rotate(60deg);opacity: 1; display: block; }

    20%{ transform: rotate(-30deg);opacity: 1;display: block; }

    30%{transform: rotate(30deg);opacity: 1;display: block;}

    35%{transform: rotate(-30deg);opacity: 1;display: block;}

    40%{transform: rotate(0dg);opacity: 1;display:block;}

    50%{transform: rotate(1080deg);opacity: 0; display: none;}

    60%{transform: rotate(-360deg);opacity: 0; display: none;}

    70%{transform: rotate(-360deg);opacity: 0; display: none;}

    80%{transform: rotate(0);opacity: 0; display: none;}

    90%{transform: rotate(0);opacity: 0; display: none;}
   
    100%{ transform: rotate(1010deg) ;opacity: 1; display: block;}

   

} 

.hdphone{
    width: 200px;
    height: 200px;
    animation-name: hdphone;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    /* animation-delay: 2s; */
    
}

@keyframes hdphone{

    0%{ transform: rotate(0) ;opacity: 0; display: l; }

    10%{ transform: rotate(-60deg);opacity: 0; display: none;}

    20%{ transform: rotate(-30deg);opacity: 0;display: none; }

    30%{transform: rotate(30deg);opacity: 0;display: none;}

    35%{transform: rotate(-1080deg);opacity: 0;display: none;}

    40%{transform: rotate(30dg);opacity: 0; display: block;}

    50%{transform: rotate(-30deg);opacity: 1; display: block;}

    60%{transform: rotate(30deg); opacity: 1; display: block;}

    70%{transform:rotate(-30deg); opacity: 1; display: block;}

    80%{transform: rotate(30deg); opacity: 1; display: block;}
    
    90%{transform: rotate(-30deg); opacity: 1; display: block;}

    100%{transform: rotate(1080deg);  opacity: 0; display: block;}


    /* 60%{background-image: url('icons8-headphone-64.png');} */

} 



/* This css file has been changed too */